

h6.MuiTypography-root-49.MuiTypography-h6-66.MuiTypography-gutterBottom-76 {
    color: aliceblue;
}
img.Navbar-Logo-5 {
    padding: 10px;
    justify-content: flex-start;
    width: 176px;
}
 .Addnewcourse-button-102 {
    top: 95px;
    position: absolute;
    margin-left: 82px;
    }


.MuiAppBar-colorPrimary-13 {
    color: #fff;
    background-color: #036dbf;
}