img.Navbar-Logo-11 {
    padding: 10px;
    justify-content: flex-start;
    width: 176px;
}

button.MuiButtonBase-root-94.MuiButton-root-269.MuiButton-outlined-277.MuiButton-outlinedPrimary-278 {
    margin-left: -40px;

}
.MuiIconButton-root-88.MuiIconButton-colorInherit-89 {
    display: none;
}
