
body {
  font-family: 'News Cycle', sans-serif;
  font-size: 14px;
}

.MuiToolbar-root-48.MuiToolbar-regular-50.MuiToolbar-gutters-49 {
  background: #036dbf;
}

.MuiLink-underlineHover-90 {
    padding-right: 24px;
    text-decoration: none;
    color: #FFF;
}

.MuiTypography-root-52.MuiTypography-colorInherit-81.MuiTypography-inline-87.MuiLink-root-88.MuiLink-underlineHover-90 {
  color: #ffff;
}


.header {
  background: url(../../components/home/header.jpg) no-repeat top center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 25px;
  height: 71vh;
  width: 100vw;
}
.Navbar-Logo-2 {
  padding: 10px;
  justify-content: flex-start;
  width: 176px;
}


.header .overlay {
  background-color: rgba(0,0,0,0.14);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.header .centering-vh {
  margin-top: 11vh;
}
.featured-work {
  padding: 23px 0;
  }

.Navbar-root-1 {
  width: 103%;
}
.row{
  padding-top: 19px;
}


@media (max-width: 991px) {
  .header .centering-vh {
    margin-top: 60px
  }
}

.header h1 {
    color: #036cbe;
    font-weight: bold;
    font-size: 60px;

}

.header h1 span {
    color: #036cbe;
    font-weight: bold;
    font-size: 60px;
}

.header h1 ~ .lead {
  font-weight: bolder;
  font-size: 27px;
  color: #f8f9fa;
}


.header h1 ~ .lead:after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  background-color: #FFF;
  margin: 25px 0
}
.MuiAppBar-root-12 {
  width: 103%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}
.btn.btn-block {
 color:aliceblue;


 
}

@media (max-width: 991px) {
  .header h1 ~ .lead:after {
    margin: 25px auto
  }
}

.header button {
    color: #fbfbfb;
    background: #62c631;
    padding: 5px 15px;
    border: 2px solid #FFF;
    margin-top: 18px;
    font-size: medium;
    border-radius: 30px;
}

@media (max-width: 991px) {
  .header button {
    display: block;
    margin: 30px auto
  }
}


.header form {
  width: 360px;
  background-color: #48b513;
  border-radius: 30px;
  overflow: hidden;
}
.header form h2 {
  background-color: #1b1919;
  color: #FFF;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}

.header form h2 span {
  color: #fff;
}
.input.btn.btn-block {
  font-size: large;
  color: aliceblue;
}

.header form .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #CCC;
  width: 80%;
  margin: 0 auto 40px;
}

.header form input[type="submit"] {
    padding: 15px;
    padding: 15px;
    background-color: #04c530;
    border-radius: 3;
}

@media (max-width: 991px) {
  .header .text-center-xs {
    text-align: center
  }
}

.stylish {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: #FFF;
  min-height: 320px
}

.stylish .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  padding: 60px 0;
}

@media (max-width: 991px) {
  .stylish .overlay {
    padding: 30px 0
  }
}

.stylish .stylish-desc {
  color: #a9aaac
}

.stylish .stylish-btn {
  margin: 30px auto;
  display: block;
  padding: 8px 20px;
  border: 2px solid #FFF;
  background: transparent;
}

.stylish .head-border-center:after {
  background-color:rgba(0, 0, 0, .6);;
}

.contact-us {
  padding: 80px 0
}

@media (max-width: 991px) {
  .contact-us {
    padding: 40px 0
  }
}

.contact-us .contact-desc {
  color: #a9aaac;
  margin-bottom: 40px
}

.contact-us form input[type="text"],
.contact-us form input[type="email"] {
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0
}

.contact-us form textarea {
  height: 178px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #e0e0e0;
}

.contact-us .contact-btn {
  margin: 30px auto;
  display: block;
  padding: 8px 20px;
  border: 2px solid #FFF;
  background-color: #ff8b38;
  color: #FFF;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}


.footer {
  background-color: #000;
  color: #EEE;
  padding: 20px;
  font-size: 18px
}

.head-border:after {
  content: '';
  display: block;
  width: 65px;
  height: 3px;
  background-color: #ff8b38;
  margin: 25px 0;
}

@media (max-width: 991px) {
  .head-border:after {
    margin: 25px auto;
  }
}

.head-border-center:after {
  content: '';
  display: block;
  width: 65px;
  height: 3px;
  background-color: #ff8b38;
  margin: 25px auto;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center
  }
}

.featured-work p {
  line-height: 1.6;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 15px;
  color: #6a6a6a;
}

.footer {
  padding: 100px 0
}

.footer .site-info h2 {
  font-size: 50px;
  margin-bottom: 35px;
}

.footer .site-info h2 span:first-child {
  color: #08526d;
  font-weight: bold;
}

.footer .site-info h2 span:last-child {
  olor: #08526d;
    font-weight: bold;
}

.footer .site-info p {
  line-height: 1.8;
  color: #727272
}

.footer .site-info a {
  color: #08526d;
  font-size: 15px;
  font-weight: bold;
}

.footer .site-info a:before {
  font-family: 'FontAwesome';
  content: "\f138";
  display: inline-block;
  margin-right: 5px;
}

.footer .helpful-links h2,
.footer .contact h2 {
  font-size: 22px;
  color: #08526d;
  margin-bottom: 68px;
}

.footer .helpful-links ul li:before {
  font-family: 'FontAwesome';
  content: "\f054";
  margin-right: 5px;
  color: #08526d;
  font-size: 12px;
  position: relative;
  top: -1px;
}

.footer .contact ul li {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .footer .helpful-links h2,
  .footer .contact h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer .contact ul li {
    margin-bottom: 5px;
  }
}

